In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import plotly.express as px
import glob, os
import seaborn as sns

In [10]:
user_list = glob.glob('Archived users/*.txt')

user_data = []

for user in user_list:
    id = user.split('_')[1].split('.')[0]
    with open(user) as f:
        user_dict = {}
        lines = f.readlines()
        for line in lines:
            line = line.strip()
            key = line.split(': ')[0]
            val = np.nan if len(line.split(': ')) == 1 else line.split(': ')[1]
            user_dict[key] = val
        user_data.append(user_dict)

In [11]:
user_data = pd.DataFrame(user_data)
display(user_data)

,BirthYear:,Gender,Parkinsons,Tremors,DiagnosisYear:,Sided,UPDRS,Impact,Levadopa,DA,MAOB,Other,BirthYear,DiagnosisYear,Impact:
0,NaN,Male,True,True,NaN,Left,Don't know,Mild,True,False,False,False,NaN,NaN,NaN
1,NaN,Male,False,False,NaN,None,Don't know,------,False,False,False,False,1952,------,NaN
2,NaN,Male,True,True,NaN,Left,Don't know,Severe,True,False,False,False,1951,2003,NaN
3,NaN,Female,True,True,NaN,None,Don't know,Medium,True,False,False,True,1947,2014,NaN
4,NaN,Male,True,True,NaN,Right,Don't know,Severe,True,False,True,False,1965,2007,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,NaN,Female,True,True,NaN,Left,Don't know,Medium,True,False,False,True,1946,2012,NaN
223,NaN,Female,True,True,NaN,None,Don't know,Mild,True,False,False,False,1943,2013,NaN
224,NaN,Male,True,True,NaN,None,Don't know,Severe,True,False,False,True,1953,2016,NaN
225,NaN,Male,True,True,NaN,Right,Don't know,Medium,True,False,False,False,1958,2013,NaN
226,NaN,Male,True,True,NaN,Left,Don't know,Mild,False,True,False,False,1951,2016,NaN

In [17]:
user_data=user_data.drop(columns=[col for col in user_data.columns if ':' in col])
user_data

,Gender,Parkinsons,Tremors,Sided,UPDRS,Impact,Levadopa,DA,MAOB,Other,BirthYear,DiagnosisYear
0,Male,True,True,Left,Don't know,Mild,True,False,False,False,NaN,NaN
1,Male,False,False,None,Don't know,------,False,False,False,False,1952,------
2,Male,True,True,Left,Don't know,Severe,True,False,False,False,1951,2003
3,Female,True,True,None,Don't know,Medium,True,False,False,True,1947,2014
4,Male,True,True,Right,Don't know,Severe,True,False,True,False,1965,2007
...,...,...,...,...,...,...,...,...,...,...,...,...
222,Female,True,True,Left,Don't know,Medium,True,False,False,True,1946,2012
223,Female,True,True,None,Don't know,Mild,True,False,False,False,1943,2013
224,Male,True,True,None,Don't know,Severe,True,False,False,True,1953,2016
225,Male,True,True,Right,Don't know,Medium,True,False,False,False,1958,2013
226,Male,True,True,Left,Don't know,Mild,False,True,False,False,1951,2016